%% -*- erlang -*-
%% Config file for hex plugin hex_epx application.
%%
{erl_opts, [debug_info]}.

{deps,  [ {hex, ".*", {git, "git@github.com:tonyrog/hex.git"}},
%%	  {epx, ".*", {git, "git@github.com:tonyrog/epx.git"}},
	  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git",
			 "1.0.0.fl.2"}}
	]}.
