%% -*- erlang -*-
%% Config file for hex plugin hex_epx application.
%%
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps,  [ {hex, ".*", {git, "https://github.com/tonyrog/hex.git"}},
	  {epx, ".*", {git, "https://github.com/tonyrog/epx.git"}},
	  {lager, ".*", {git, "https://github.com/basho/lager.git"}}
	]}.
